<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Demo</title>
</head>
<body>
    <form name="search" method="post">
        <h1 style="background-color:aqua;text-align: center;">AI Model that forecasts the likehood of client attrition based on factors.</h1>
        <h2 style="text-align: center;">Ask me a question:</h2> 
        <textarea style="margin: auto; display: block;" rows="10" cols="100" name="searchString"></textarea>
        <br>
        <input style="margin: auto; display: block;" type="submit" value="search">
    </form>
    <br>
    <h2 style="color: orangered;">{{question}}</h2>
    <br>
    <h3 style="color: blue;">{{responseString}}</h3>
</body>
</html>